node-red-scripts/externalProgram.json

[{"id":"897e8ffe.4a412","type":"inject","z":"2ee784d2.85786c","name":"Abrir","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300.5,"y":264,"wires":[["7f3ee92f.86c498"]]},{"id":"7f3ee92f.86c498","type":"exec","z":"2ee784d2.85786c","command":"firefox","addpay":true,"append":"file:///home/ubuntu/Documents/teste.html","useSpawn":"","timer":"","name":"","x":499.5,"y":197.5,"wires":[[],[],[]]},{"id":"f5cd84bd.573d78","type":"http in","z":"2ee784d2.85786c","name":"","url":"/hello","method":"get","swaggerDoc":"","x":222.5,"y":192,"wires":[["7f3ee92f.86c498","95948382.95e08"]]},{"id":"95948382.95e08","type":"template","z":"2ee784d2.85786c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":380.5,"y":74,"wires":[["503fc91.01b3d38"]]},{"id":"503fc91.01b3d38","type":"http response","z":"2ee784d2.85786c","name":"","x":530.5,"y":116,"wires":[]},{"id":"b2b06854.672498","type":"http in","z":"2ee784d2.85786c","name":"gerenciador","url":"/teste","method":"get","swaggerDoc":"","x":189.5,"y":392,"wires":[["d6dd8053.fbcb88"]]},{"id":"d6dd8053.fbcb88","type":"template","z":"2ee784d2.85786c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h2>Gerenciador</h2>\n\n<button type=\"button\" onclick=\"loadDoc()\">Abrir Firefox</button>\n\n<p id=\"demo\"></p>\n\n\n<script>\nfunction loadDoc() {\n  var xhttp = new XMLHttpRequest();\n  xhttp.onreadystatechange = function() {\n    if (this.readyState == 4 && this.status == 200) {\n      document.getElementById(\"demo\").innerHTML = this.responseText;\n    }\n  };\n  xhttp.open(\"GET\", \"hello\", true);\n  xhttp.send();\n}\n</script>\n\n</body>\n</html>\n","x":402.5,"y":392,"wires":[["29734c6c.c9789c"]]},{"id":"29734c6c.c9789c","type":"http response","z":"2ee784d2.85786c","name":"","x":599.5,"y":393,"wires":[]}]
