node-red-scripts/remoteGame
[{"id":"8febf26d.94e0e","type":"http in","z":"2ee784d2.85786c","name":"","url":"/index.html","method":"get","swaggerDoc":"","x":220,"y":220,"wires":[["b21157cb.5c36a"]]},{"id":"b21157cb.5c36a","type":"template","z":"2ee784d2.85786c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button type=\"button\" onclick=\"loadDoc()\">Change Content</button>\n\n<div id=\"teste\" onclick=\"loadDoc()\"> teste</div>\n\n<script>\nfunction loadDoc() {\n  var xhttp = new XMLHttpRequest();\n  xhttp.onreadystatechange = function() {\n    if (this.readyState == 4 && this.status == 200) {\n      document.getElementById(\"demo\").innerHTML = this.responseText;\n    }\n  };\n  xhttp.open(\"GET\", \"hello\", true);\n  xhttp.send();\n}\n</script>","x":370,"y":220,"wires":[["80bf5b25.923c9"]]},{"id":"80bf5b25.923c9","type":"http response","z":"2ee784d2.85786c","name":"","x":530,"y":220,"wires":[]},{"id":"a38a934f.24fe88","type":"http in","z":"2ee784d2.85786c","name":"type 1","url":"/hello","method":"get","swaggerDoc":"","x":133,"y":415,"wires":[["693578e9.16e0a"]]},{"id":"96b64f45.b8e9b8","type":"http in","z":"2ee784d2.85786c","name":"gerenciador","url":"/gerenciador","method":"get","swaggerDoc":"","x":199,"y":311,"wires":[["570c2c25.2cc834"]]},{"id":"570c2c25.2cc834","type":"template","z":"2ee784d2.85786c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h2>Gerenciador</h2>\n\n<button type=\"button\" onclick=\"loadDoc()\">Abrir Firefox</button>\n\n<p id=\"demo\"></p>\n\n\n<script>\nfunction loadDoc() {\n  var xhttp = new XMLHttpRequest();\n  xhttp.onreadystatechange = function() {\n    if (this.readyState == 4 && this.status == 200) {\n      document.getElementById(\"demo\").innerHTML = this.responseText;\n    }\n  };\n  xhttp.open(\"GET\", \"hello\", true);\n  xhttp.send();\n}\n</script>\n\n</body>\n</html>\n","x":349,"y":312,"wires":[["2bd13b60.34ec9c"]]},{"id":"2bd13b60.34ec9c","type":"http response","z":"2ee784d2.85786c","name":"","x":509,"y":312,"wires":[]},{"id":"693578e9.16e0a","type":"exec","z":"2ee784d2.85786c","command":"xdotool type ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":388.5,"y":480.5,"wires":[[],[],[]]},{"id":"b7f1fc9e.1e9938","type":"inject","z":"2ee784d2.85786c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":131.5,"y":555,"wires":[["693578e9.16e0a"]]},{"id":"7fb93591.f671bc","type":"inject","z":"2ee784d2.85786c","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":218.5,"y":627,"wires":[["693578e9.16e0a"]]}]
